body{
    height:100vh;
    background-position: center;
    background-image:url('bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.activ
{
    color:black;
}
#abc
{
    color:rgb(248, 252, 255);
}