body{
    background-color:rgb(252, 247, 247);
    padding:30px;
}
aside
{
    width:30%;
    height:90vh;
    display:inline-block;
    box-shadow: 0px 0px 3px #aaa;
    background-color: white;
    border-radius: 10px;
    padding:20px;
    box-sizing: border-box;
    margin:10px 20px;
    vertical-align: top;
}
.profile-details
{
    /* background-color: aqua; */
    color:rgb(250, 126, 147);
    display: block;
    width:50px;
    margin:auto;
    padding:10px;
}
#profile-pic
{
    height:150px;
    width:150px;
    border-radius: 30px;
    display: block;
    margin:auto;
    box-shadow: 0px 0px 3px black;
}

main
{
    width:60%;
    height: 90vh;;
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 10px;
    padding:20px;
    box-sizing: border-box;
    vertical-align: top;
}
section{
    box-shadow: 0px 0px 3px #aaa;
    margin:40px 20px;
}
legend{
    color:rgb(250, 91, 117);
}
fieldset
{
    border:none;
}
input{
    border:none;
    box-shadow: 0px 0px 3px #aaa;
    width:60%;
    height: 26px;
    display: block;
    margin:auto;
    border-radius: 3px;
}