#items-wrapper {
width: 90%;
margin: auto;
}
.items {
display: inline-block;
width: 200px;
height: 250px;
margin: 10px;
border-radius: 5px;
box-shadow: 0px 0px 5px #aaa;
}
.items:hover {
box-shadow: 0px 0px 8px rgb(4, 49, 51);
}
.img {
border-radius: 5px;
height: 100%;
width: 100%;
}