P
{
    text-align:center;
    letter-spacing:8;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:100px;
    font-weight:1000;
    color:white;
    text-shadow:0px 0px 3px black,8px 0px 0px black,16px 8px 3px gray;
}

p:hover
{
    text-align:center;
    letter-spacing:8;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:100px;
    font-weight:1000;
    color:white;
    text-shadow:1px 0px 3px black;
}