*
{
    box-sizing:border-box;
}
body{
    padding:0px;
    
}
#navbar
{
    /* background-color: green; */
    width:60%;
    margin:auto;
    display:flex;
    justify-content:center;
}
.menu
{
    /* background-color: red; */
    margin:5px 20px;
    font-size: 16px;
    font-family: 'Eczar', serif;
    color:rgb(117, 117, 167);
}
.menu:hover
{
    color:rgb(13, 13, 68);
}
#login
{
    background-color: rgb(15, 15, 65);
    color: white;
    width:80px;
    height:30px;
    outline:none;
    border-radius: 4px;
    /* float:right; */
    position: absolute;
    top:10px;
    right:10px;
}
#login:hover
{
    background-color: rgb(65, 65, 119);
}
hr{
    width:35%;
    height:2px;
    border:none;
    background-color: rgb(65, 65, 131);
}
#name
{
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
    text-shadow:2px 2px 8px rgb(129, 129, 196);
    color:rgb(6, 6, 43);
    margin-top:10px;
    position: absolute;
    top:10px;
    left:30px;
}
#mainimg{
    height:300px;
    width:100%;
    position:absolute;
    top:120px;
    margin:0px;
}
#maindiv
{
    position:absolute;
    top:440px;
    margin-left:50px;
    /* background-color: pink; */
}
#sideimg
{
    height:500px;
    width:600px;
}
form{
    display:inline-block;
    background-color:lavender;
    padding:10px;
    height:400px;
    width:400px;
    position:relative;
    bottom:145px;
    right: 50px;
    box-shadow: 2px 2px 8px rgb(103, 103, 170);

}
.inp,#submit
{
    display:block;
    width:80%;
    height:30px;
    margin:15px 30px;
    border: none;
    border-radius: 3px;
}
.inp:hover
{
    box-shadow: 2px 2px 6px rgb(123, 123, 175);
}
#submit
{
    background-color: rgb(29, 29, 90);
    color:white;
    border:none;
    border-radius: 3px;
}
#submit:hover
{
    background-color:rgb(50, 50, 104);
}
#comments
{
    background-color: rgb(139, 139, 189);
    position: absolute;
    top:1000px;
    display:flex;
    height:250px;
}
.comment,p
{
    /* background-color: coral; */
    margin:20px;
    padding:10px;
    text-align:justify;
    color:white;
}
footer{
    background-color: lightblue;
    position: absolute;
    top:1251px;
    height:30px;
    width:100%;
    text-align:center;
    word-spacing: 20px;
}